:root {
  --bg-dark: #121111;
  --bg-lighter: #233348;
  --text-primary: #d6d6e3;
  --text-accent: #ffffff;
  --text-highlight: #ffffff;
  --text-darker: #415875;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-primary);
  font-family: "Jost", sans-serif;
}

#landingpage {
  background-color: var(--bg-dark);
  /* background-image: radial-gradient(circle at top, #7d2c71, var(--bg-dark)); */
  background-size: 100vw 100vh;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  color: var(--text-primary);
  background-attachment: fixed;
}

.accent {
  /* background: linear-gradient(180deg, #0195d9d6 0%, #81C4EA 100%); */
  /* background: conic-gradient(#F8FF57 15%, #FF0276 30%, #FF01CB 50%, #FF00CB 60%, #00F5FF 79%, #F8FF57 80%); */
  /* background-image: linear-gradient(white, #8a78fc); */
  background-color: var(--text-accent);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.underline {
  padding-bottom:3px;
  background: /* gradient can be an image */
    linear-gradient(
      to left, 
      #FF00CB,
      #00F5FF,
      #F8FF57
    )
    left 
    bottom
    no-repeat; 
  background-size:100% 3px ;
}

button > p {
  background-color: #121111;
  color: white;
  padding: 13px 28px;
  font-family: 'Jost';
  border-radius: 10px;
  font-size: 1.2em;
  margin: 0;
}

button {
  border: 0;
  border-radius: 11px;
  padding: 3px;
  background: conic-gradient(#FF00CB, #00F5FF, #F8FF57, #FF0276, #FF01CB);
}
/* 
h1, h2, h3, h4 {
  font-family: 'League Spartan', sans-serif;
} */